/** 
 * Alerts 
 */
.alert 
{
    text-align: center;
    width: 100%;
    font-size: 14px;
    background-color: #e6e6e6;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 15px;
    color: #5A6C7F;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alert p 
{
    color: #5A6C7F;
    margin-bottom: 0;
    font-size: 14px;
}

.alert-info 
{
    background: #E4F4FD;
    color: #407EA1;
}

.alert-success 
{
    background: #E6F4D8;
    color: #61801B;
}

.alert-warning 
{
    background: #F9F9D5;
    color: #7C7548;
}

.alert-error 
{
    background: #FBE3E3;
    color: #D34047;
}

.close 
{
    float: right;
    margin-top: -6px;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
}

.close:hover 
{
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}